* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #333;
}

h1  {
    color: aliceblue;
    margin-bottom: 50px;
}

.header {
    margin-top: 70px;
}

h4 {
    display: inline-flex;
}

.card-block {
    padding: 10px;
}

.select {
    text-align: center;
}

#select {
    width: 150px;
    margin-bottom: 40px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    justify-content: center;
}

.form-group {
    text-align: center;
}

input {
    width: 300px;
    height: 50px;
    font-size: 27px;
}